'image': 'Assests/233fc8a5e285dbc52e4fc39592d6dcaf.jpg_750x750.jpg_.webp'
'image': 'Assests/6653233e3aa8c1b567e219bd7f97ada2.jpg_750x750.jpg_.webp'
'image': 'Assests/81a82a1a2e6a9405c272e8941fda818b.jpg_750x750.jpg_.webp'
'image': 'Assests/99452cec65bba936decf047d2b947a1b.jpg_750x750.jpg_.webp'
'image': 'Assests/e8fbb3ae8138805c44be6a6543129e6e.jpg_750x750.jpg_ (1).webp'
'image': 'Assests/f46920667103e4f3385478478fb78bb8.jpg_750x750.jpg_.webp'
'image': 'Assests/Sfb61b03e0c784696a66fe26f6a1a8383W.jpg_750x750.jpg_.webp'
'image': 'Assests/Sfe37fcfb38774c1eb87d6f6b5c91b358J.jpg_750x750.jpg_.webp'
'image': 'Assests/Women/03336c659372f5818b4335ec8ac8a2ea.jpg_750x750.jpg_.webp'
'image': 'Assests/Women/081e1c8ca00085e93cd563cef91a1ce0.jpg_750x750.jpg_.webp'
'image': 'Assests/Women/457adfaa760ec6b35b0c24036ee70f43.jpg_750x750.jpg_.webp'
'image': 'Assests/Women/59c61ae8fb30420722096c3100a1da78.jpg_750x750.jpg_.webp'
'image': 'Assests/Women/823f71c3c411c5dd11a4dd0605fb8ce3.jpg_750x750.jpg_.webp'
'image': 'Assests/Women/98272197c15f2e2c0a13f44c5babb4da.jpg_750x750.jpg_.webp'
'image': 'Assests/Women/dfa079965819db228cf96c9f94f2a794.jpg_750x750.jpg_.webp'
'image': 'Assests/Women/ff195073d4bdd211e8091513ed88aaa5.jpg_750x750.jpg_.webp'
'image': 'Assests/99452cec65bba936decf047d2b947a1b.jpg_750x750.jpg_.webp'
'image': 'Assests/Popular/987a7d138fc594e4d5af64e45db7002a.jpg_750x750.jpg_.webp'
'image': 'Assests/Popular/d2b0c27535ad124ba1d3c1201e9504ca.jpg_750x750.jpg_.webp'
'image': 'Assests/Popular/Sff994e176d0d4a14975b3db45f746b257.jpg_750x750.jpg_.webp'
'image': 'img/man/polo-shirt-2.png'
'image': 'img/women/girl-2.png'
'image': 'img/man/t-shirt-1.png'
'image': 'img/women/girl-3.png'
'image': 'img/man/polo-shirt-1.png'
'image': 'img/women/girl-4.png'
'image': 'img/man/polo-shirt-4.png'
'image': 'img/women/girl-1.png'
'image': 'img/man/polo-shirt-2.png'
'image': 'img/women/girl-2.png'
'image': 'img/man/t-shirt-1.png'
'image': 'img/women/girl-3.png'
'image': 'img/man/polo-shirt-1.png'
'image': 'img/women/girl-4.png'
'image': 'img/man/polo-shirt-4.png'
'image': 'img/women/girl-1.png'






{% comment %} Nmaes {% endcomment %}


{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/233fc8a5e285dbc52e4fc39592d6dcaf.jpg_750x750.jpg_.webp' },
{ 'name':  'T-Shirt' ,  'image': 'Assests/6653233e3aa8c1b567e219bd7f97ada2.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/81a82a1a2e6a9405c272e8941fda818b.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/99452cec65bba936decf047d2b947a1b.jpg_750x750.jpg_.webp' },
{ 'name':  'T-Shirt' ,  'image': 'Assests/e8fbb3ae8138805c44be6a6543129e6e.jpg_750x750.jpg_ (1).webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/f46920667103e4f3385478478fb78bb8.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/Sfb61b03e0c784696a66fe26f6a1a8383W.jpg_750x750.jpg_.webp' },
{ 'name':  'T-Shirt' ,  'image': 'Assests/Sfe37fcfb38774c1eb87d6f6b5c91b358J.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/03336c659372f5818b4335ec8ac8a2ea.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/081e1c8ca00085e93cd563cef91a1ce0.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/457adfaa760ec6b35b0c24036ee70f43.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/59c61ae8fb30420722096c3100a1da78.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/823f71c3c411c5dd11a4dd0605fb8ce3.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/98272197c15f2e2c0a13f44c5babb4da.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/dfa079965819db228cf96c9f94f2a794.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/ff195073d4bdd211e8091513ed88aaa5.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/99452cec65bba936decf047d2b947a1b.jpg_750x750.jpg_.webp' },
{ 'name':  'Trouser Shirt' ,  'image': 'Assests/Popular/987a7d138fc594e4d5af64e45db7002a.jpg_750x750.jpg_.webp' },
{ 'name':  'T-Shirt' ,  'image': 'Assests/Popular/d2b0c27535ad124ba1d3c1201e9504ca.jpg_750x750.jpg_.webp' },
{ 'name':  'Men Suite' ,  'image': 'Assests/Popular/Sff994e176d0d4a14975b3db45f746b257.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-2.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-2.png' },
{ 'name':  'T-Shirt' ,  'image': 'img/man/t-shirt-1.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-3.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-1.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-4.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-4.png' },
{ 'name':  'This is Title' ,  'image': 'img/women/girl-1.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-2.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-2.png' },
{ 'name':  'T-Shirt' ,  'image': 'img/man/t-shirt-1.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-3.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-1.png' },
{ 'name':  'Women Dress' ,  'image': 'img/women/girl-4.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-4.png' },
{ 'name':  'This is Title' ,  'image': 'img/women/girl-1.png' }



{% comment %} Code {% endcomment %}

from myapp.models import Product

products = [
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/233fc8a5e285dbc52e4fc39592d6dcaf.jpg_750x750.jpg_.webp' },
{ 'name':  'T-Shirt' ,  'image': 'Assests/6653233e3aa8c1b567e219bd7f97ada2.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/81a82a1a2e6a9405c272e8941fda818b.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/99452cec65bba936decf047d2b947a1b.jpg_750x750.jpg_.webp' },
{ 'name':  'T-Shirt' ,  'image': 'Assests/e8fbb3ae8138805c44be6a6543129e6e.jpg_750x750.jpg_ (1).webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/f46920667103e4f3385478478fb78bb8.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/Sfb61b03e0c784696a66fe26f6a1a8383W.jpg_750x750.jpg_.webp' },
{ 'name':  'T-Shirt' ,  'image': 'Assests/Sfe37fcfb38774c1eb87d6f6b5c91b358J.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/03336c659372f5818b4335ec8ac8a2ea.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/081e1c8ca00085e93cd563cef91a1ce0.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/457adfaa760ec6b35b0c24036ee70f43.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/59c61ae8fb30420722096c3100a1da78.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/823f71c3c411c5dd11a4dd0605fb8ce3.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/98272197c15f2e2c0a13f44c5babb4da.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/dfa079965819db228cf96c9f94f2a794.jpg_750x750.jpg_.webp' },
{ 'name':  'Women Dress' ,  'image': 'Assests/Women/ff195073d4bdd211e8091513ed88aaa5.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'Assests/99452cec65bba936decf047d2b947a1b.jpg_750x750.jpg_.webp' },
{ 'name':  'Trouser Shirt' ,  'image': 'Assests/Popular/987a7d138fc594e4d5af64e45db7002a.jpg_750x750.jpg_.webp' },
{ 'name':  'T-Shirt' ,  'image': 'Assests/Popular/d2b0c27535ad124ba1d3c1201e9504ca.jpg_750x750.jpg_.webp' },
{ 'name':  'Men Suite' ,  'image': 'Assests/Popular/Sff994e176d0d4a14975b3db45f746b257.jpg_750x750.jpg_.webp' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-2.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-2.png' },
{ 'name':  'T-Shirt' ,  'image': 'img/man/t-shirt-1.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-3.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-1.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-4.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-4.png' },
{ 'name':  'This is Title' ,  'image': 'img/women/girl-1.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-2.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-2.png' },
{ 'name':  'T-Shirt' ,  'image': 'img/man/t-shirt-1.png' },
{ 'name':  'Lorem ipsum doller' ,  'image': 'img/women/girl-3.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-1.png' },
{ 'name':  'Women Dress' ,  'image': 'img/women/girl-4.png' },
{ 'name':  'Polo T-Shirt' ,  'image': 'img/man/polo-shirt-4.png' },
{ 'name':  'This is Title' ,  'image': 'img/women/girl-1.png' }
]

for product in products:
    Product.objects.create(name=product['name'], image=product['image'])

print("Products added successfully")
